/* Drill 1 - Write your code solution below */
#container-1, #container-2 {
    display: flex;
    justify-content: space-between;
  }

/* Drill 2 - Write your code solution below */
#container-1, #container-2 {
    display: flex;
    justify-content: space-between;
  }

/* Drill 3 - Write your code solution below */
#container-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

/* Drill 4 - Write your code solution below */
#container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

/* Drill 5 - Write your code solution below */
#container-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }