/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
div.frame {
    border: 5px solid #333;
    padding: 10px;
    margin: 20px;
    width: 125px;
    box-shadow: 5px 5px 15px rgba(0, 208, 255, 0.3);
}

div.frame img {
    width: 100%;
    height: auto;
    display: block;
}

div.display-space {
    display: inline-block;
    vertical-align: top;
}